/* Estilos gerais */

body{
    font-family: 'Roboto', sans-serif;
}

.row{
    margin: 0;
}

.container{
    padding: 70px 0px;
}

p, li{
    color: #444;
    font-size: 14px;
}

/* Barra de Navegação */

header, .navbar{
    background-color: #DE9B35;
    padding: 0px 10px;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 80px;
}

.navbar-brand{
    padding: 0px;
    color: #FFF;
    font-size: 14px;
}

.navbar-brand:hover{
    color: #FFF;
}

#navbar-links a{
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}